<div class="alert alert-danger" role="alert">
  <h1 class="alert-heading">{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
  <hr>
  <p class="mb-0">Unfortunately the page you are looking for has been moved or deleted</p>
</div>
